@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.carousel {
  position: relative;
}
.sad {
  position: relative;
}
.form {
  width: 34%;
  z-index: 1;
  position: absolute;
  background: white;
  display: flex;
  left: 55%;
  top: 15%;
}
.form-style {
  margin: 4%;
}
.top {
  padding: 2% 0% 0% 2%;
}
.top #title {
  font-weight: 700;
}
.first-row {
  display: flex;
  width: 96%;
  padding: 2% 0% 0% 0%;
}
.first-row .col {
  width: 50%;
}
.first-row .column {
  width: 50%;
}
.second-row {
  padding: 2% 0% 0% 3.2%;
  width: 96%;
}
.third-row {
  padding: 2% 0% 0% 3.2%;
}
.third-row #message {
  width: 96%;
}
.fifth-row {
  padding: 2% 0% 2% 3.2%;
}
.fifth-row #submit {
  width: 96%;
  height: 40px;
  background: #1ea69a;
  border: none;
  color: #ffffff;
}
.fifth-row #submit:hover {
  cursor: pointer;
  background: #373737;
}
.box {
  width: 60px;
  height: 60px;
  background-color: #f28500;
  color: #fff;
  padding: 20px;
  position: absolute;
  z-index: 1;
  left: -50px;
  top: 28px;
}
.box.arrow-right .phone_icon {
  fill: #fff;
  width: 100%;
}
.box.arrow-right:after {
  content: " ";
  position: absolute;
  right: -15px;
  top: 15px;
  border-top: 15px solid transparent;
  border-right: none;
  border-left: 15px solid #f28500;
  border-bottom: 15px solid transparent;
}
.first-card {
  background: white;
  left: 40%;
  top: 55%;
  display: none;
}
.second-card {
  background: white;
  left: 40%;
  top: 55%;
  display: none;
}
.third-card {
  background: white;
  left: 40%;
  top: 55%;
  display: none;
}
.title {
  color: #000000;
  font-family: "Rubik";
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 500;
  padding: 0% 5% 0% 10%;
}
.title:hover {
  cursor: pointer;
  color: #1ea69a;
  text-decoration: none;
}
.price {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Rubik";
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding: 0% 5% 0% 10%;
}
.priceInDollars {
  color: #1ea69a;
  font-weight: 400;
  line-height: 1.2;
  font-size: 2.4rem;
  padding: 0% 5% 0% 10%;
}
.features {
  display: flex;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .form {
    width: 100%;
    position: relative;
    left: 0%;
    top: 5%;
  }
  .box {
    display: none;
  }
  .first-card,
  .second-card,
  .third-card {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 12rem;
    width: 100%;
    max-width: 35rem;
  }
}

@media (max-width: 1024px) {
  .first-row {
    padding: 2% 0% 0% 1.3%;
  }
}
@media (max-width: 1280px) {
  .form {
    top: 5%;
  }
}
@media (max-width: 1014px) {
  .first-card {
    width: 100%;
    max-width: 30rem;
    height: 100%;
    max-height: 10rem;
  }
  .second-card {
    width: 100%;
    max-width: 30rem;
    height: 100%;
    max-height: 10rem;
  }
  .third-card {
    width: 100%;
    max-width: 30rem;
    height: 100%;
    max-height: 10rem;
  }
  .first-row {
    padding: 2% 0% 0% 1.2%;
  }
}

@media (max-width: 801px) {
  .first-card {
    left: 30%;
    top: 45%;
    height: 100%;
    max-height: 9rem;
  }
  .second-card {
    left: 30%;
    top: 45%;
    height: 100%;
    max-height: 9rem;
  }
  .third-card {
    left: 30%;
    top: 45%;
    height: 100%;
    max-height: 9rem;
  }
}
@media (max-width: 749px) {
  .first-card {
    width: 100%;
    max-width: 28rem;
  }
  .second-card {
    width: 100%;
    max-width: 28rem;
  }
  .third-card {
    width: 100%;
    max-width: 28rem;
  }
}
@media (max-width: 640px) {
  .first-card {
    width: 100%;
    max-width: 26rem;
  }
  .second-card {
    width: 100%;
    max-width: 26rem;
  }
  .third-card {
    width: 100%;
    max-width: 26rem;
  }
  .priceInDollars {
    display: none;
  }
}
@media (max-width: 610px) {
  .first-card {
    top: 38%;
    left: 23%;
  }
  .second-card {
    top: 38%;
    left: 23%;
  }
  .third-card {
    top: 38%;
    left: 23%;
  }
}
@media (max-width: 509px) {
  .first-card {
    left: 9.5%;
    top: 30%;
  }
  .second-card {
    left: 9.5%;
    top: 30%;
  }
  .third-card {
    left: 9.5%;
    top: 30%;
  }
}
@media (max-width: 488px) {
  .first-card {
    display: none;
  }
  .second-card {
    display: none;
  }
  .third-card {
    display: none;
  }
  .first-row {
    padding: 2% 0% 0% 0%;
  }
}
.container-1 {
  background: whitesmoke;
  position: relative;
  display: flex;
  flex-direction: row;
  padding-bottom: 15%;
  padding-top: 15%;
}
.container-1 > div {
  margin: 1.2%;
}
.properties--title {
  position: absolute;
  top: 5%;
  left: 39%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
  font-family: "Rubik", sans-serif;
}
.top--recent {
  color: #1ea69a;
}
.top--paragraph {
  font-family: "Roboto", sans-serif;
  color: #808080;
}
.column-1 {
  background: #fff;
  height: 100%;
  font-family: "Rubik", sans-serif;
}
.column--container {
  padding: 5%;
}
.column-1 a {
  color: #000000;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
}
.column-1 a:hover {
  cursor: pointer;
  color: #1ea69a;
  text-decoration: none;
}
.featured {
  position: absolute;
  background: #ea723d;
  padding: 5px 5px 5px 10px;
  line-height: 19px;
  bottom: 743px;
}
.box-1 {
  width: 90px;
  height: 30px;
}
.box-1.arrow-right-1:after {
  content: " ";
  position: absolute;
  right: -15px;
  top: 0px;
  border-top: 15px solid transparent;
  border-right: none;
  border-left: 15px solid #ea723d;
  border-bottom: 15px solid transparent;
}
.featured_icon {
  color: #ffffff;
}
.rh_svg {
  fill: #808080;
  height: auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 34px;
}
.properties {
  display: flex;
  padding-bottom: 30px;
}
.post--description {
  font-weight: 400;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  margin-bottom: 15px;
  color: #808080;
}
.bedroom,
.bathroom,
.area {
  padding-right: 10px;
  font-weight: 900;
}
.pagination {
  position: absolute;
  z-index: 1;
  justify-content: center;
  display: inline-block;
  right: 35%;
  top: 88%;
}
.pagination a {
  color: black;
  background: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 100px;
}
.pagination a:hover {
  background-color: #1ea69a;
  color: white;
}
span.page-numbers.current {
  background-color: #1ea69a;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 100px;
}
.sale--price {
  display: flex;
  flex-direction: column;
}
.price-for {
  font-size: 15px;
  font-family: "Rubik";
  font-weight: 900;
}
.home--price {
  color: #1ea69a;
  font-weight: 400;
  font-size: 22px;
}
.overlay {
  position: absolute;
  z-index: 1;
  width: 396px;
  height: 228px;
  bottom: 54%;
}
.overlay:hover {
  cursor: pointer;
  opacity: 1;
  background: rgba(30, 166, 154, 0.7);
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  border: 2px solid white;
  display: flex;
  top: 33%;
  left: 33%;
  color: #fff;
}
a.view--properties {
  color: #fff;
  padding: 10px;
}
a.view--properties:hover {
  color: white;
}
.column-1:hover .middle {
  opacity: 0.8;
}
@media (max-width: 414px) {
  .featured {
    display: none;
  }
  .properties--title {
    left: 32%;
    top: 0%;
    left: 25%;
  }
  .container-1 {
    display: flex;
    flex-direction: column;
  }
  .pagination {
    top: 97%;
    right: 7%;
  }
  .form {
    width: 100%;
    position: relative;
    left: 0%;
    top: 5%;
  }
  .box {
    display: none;
  }
  .first-card,
  .second-card,
  .third-card {
    display: none;
  }
  .first-row {
    padding: 2% 0% 0% 0%;
  }
  .container-1 {
    padding-top: 20%;
  }
  .overlay {
    display: none;
  }
  .properties--title {
    left: 20%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .featured {
    display: none;
  }
  .properties--title {
    align-content: center;
    top: 2%;
    left: 35.2%;
  }
  .pagination {
    top: 90%;
  }
  .overlay {
    width: 317px;
    height: 183px;
    bottom: 60%;
  }
  .container-1 {
    display: flex;
    flex-direction: row;
  }
}
