@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.carousel {
  position: relative;
}
.sad {
  position: relative;
}
.form {
  width: 34%;
  z-index: 1;
  position: absolute;
  background: white;
  display: flex;
  left: 55%;
  top: 15%;
}
.form-style {
  margin: 4%;
}
.top {
  padding: 2% 0% 0% 2%;
}
.top #title {
  font-weight: 700;
}
.first-row {
  display: flex;
  width: 96%;
  padding: 2% 0% 0% 0%;
}
.first-row .col {
  width: 50%;
}
.first-row .column {
  width: 50%;
}
.second-row {
  padding: 2% 0% 0% 3.2%;
  width: 96%;
}
.third-row {
  padding: 2% 0% 0% 3.2%;
}
.third-row #message {
  width: 96%;
}
.fifth-row {
  padding: 2% 0% 2% 3.2%;
}
.fifth-row #submit {
  width: 96%;
  height: 40px;
  background: #1ea69a;
  border: none;
  color: #ffffff;
}
.fifth-row #submit:hover {
  cursor: pointer;
  background: #373737;
}
.box {
  width: 60px;
  height: 60px;
  background-color: #f28500;
  color: #fff;
  padding: 20px;
  position: absolute;
  z-index: 1;
  left: -50px;
  top: 28px;
}
.box.arrow-right .phone_icon {
  fill: #fff;
  width: 100%;
}
.box.arrow-right:after {
  content: " ";
  position: absolute;
  right: -15px;
  top: 15px;
  border-top: 15px solid transparent;
  border-right: none;
  border-left: 15px solid #f28500;
  border-bottom: 15px solid transparent;
}
.first-card {
  background: white;
  left: 40%;
  top: 55%;
  display: none;
}
.second-card {
  background: white;
  left: 40%;
  top: 55%;
  display: none;
}
.third-card {
  background: white;
  left: 40%;
  top: 55%;
  display: none;
}
.title {
  color: #000000;
  font-family: "Rubik";
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 500;
  padding: 0% 5% 0% 10%;
}
.title:hover {
  cursor: pointer;
  color: #1ea69a;
  text-decoration: none;
}
.price {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Rubik";
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding: 0% 5% 0% 10%;
}
.priceInDollars {
  color: #1ea69a;
  font-weight: 400;
  line-height: 1.2;
  font-size: 2.4rem;
  padding: 0% 5% 0% 10%;
}
.features {
  display: flex;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .form {
    width: 100%;
    position: relative;
    left: 0%;
    top: 5%;
  }
  .box {
    display: none;
  }
  .first-card,
  .second-card,
  .third-card {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 12rem;
    width: 100%;
    max-width: 35rem;
  }
}

@media (max-width: 1024px) {
  .first-row {
    padding: 2% 0% 0% 1.3%;
  }
}
@media (max-width: 1280px) {
  .form {
    top: 5%;
  }
}
@media (max-width: 1014px) {
  .first-card {
    width: 100%;
    max-width: 30rem;
    height: 100%;
    max-height: 10rem;
  }
  .second-card {
    width: 100%;
    max-width: 30rem;
    height: 100%;
    max-height: 10rem;
  }
  .third-card {
    width: 100%;
    max-width: 30rem;
    height: 100%;
    max-height: 10rem;
  }
  .first-row {
    padding: 2% 0% 0% 1.2%;
  }
}

@media (max-width: 801px) {
  .first-card {
    left: 30%;
    top: 45%;
    height: 100%;
    max-height: 9rem;
  }
  .second-card {
    left: 30%;
    top: 45%;
    height: 100%;
    max-height: 9rem;
  }
  .third-card {
    left: 30%;
    top: 45%;
    height: 100%;
    max-height: 9rem;
  }
}
@media (max-width: 749px) {
  .first-card {
    width: 100%;
    max-width: 28rem;
  }
  .second-card {
    width: 100%;
    max-width: 28rem;
  }
  .third-card {
    width: 100%;
    max-width: 28rem;
  }
}
@media (max-width: 640px) {
  .first-card {
    width: 100%;
    max-width: 26rem;
  }
  .second-card {
    width: 100%;
    max-width: 26rem;
  }
  .third-card {
    width: 100%;
    max-width: 26rem;
  }
  .priceInDollars {
    display: none;
  }
}
@media (max-width: 610px) {
  .first-card {
    top: 38%;
    left: 23%;
  }
  .second-card {
    top: 38%;
    left: 23%;
  }
  .third-card {
    top: 38%;
    left: 23%;
  }
}
@media (max-width: 509px) {
  .first-card {
    left: 9.5%;
    top: 30%;
  }
  .second-card {
    left: 9.5%;
    top: 30%;
  }
  .third-card {
    left: 9.5%;
    top: 30%;
  }
}
@media (max-width: 488px) {
  .first-card {
    display: none;
  }
  .second-card {
    display: none;
  }
  .third-card {
    display: none;
  }
  .first-row {
    padding: 2% 0% 0% 0%;
  }
}
.container-1 {
  background: whitesmoke;
  position: relative;
  display: flex;
  flex-direction: row;
  padding-bottom: 15%;
  padding-top: 15%;
}
.container-1 > div {
  margin: 1.2%;
}
.properties--title {
  position: absolute;
  top: 5%;
  left: 39%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
  font-family: "Rubik", sans-serif;
}
.top--recent {
  color: #1ea69a;
}
.top--paragraph {
  font-family: "Roboto", sans-serif;
  color: #808080;
}
.column-1 {
  background: #fff;
  /* height: 100%;
  max-height: 550px; */
  height: auto;
  font-family: "Rubik", sans-serif;
}
.column--container {
  padding: 5%;
}
.column-1 a {
  color: #000000;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
}
.column-1 a:hover {
  cursor: pointer;
  color: #1ea69a;
  text-decoration: none;
}
.featured {
  position: absolute;
  background: #ea723d;
  padding: 5px 5px 5px 10px;
  line-height: 19px;
  bottom: 743px;
}
.box-1 {
  width: 90px;
  height: 30px;
}
.box-1.arrow-right-1:after {
  content: " ";
  position: absolute;
  right: -15px;
  top: 0px;
  border-top: 15px solid transparent;
  border-right: none;
  border-left: 15px solid #ea723d;
  border-bottom: 15px solid transparent;
}
.featured_icon {
  color: #ffffff;
}
.rh_svg {
  fill: #808080;
  height: auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 34px;
}
.properties {
  display: flex;
  padding-bottom: 30px;
}
.post--description {
  font-weight: 400;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  margin-bottom: 15px;
  color: #808080;
}
.bedroom,
.bathroom,
.area {
  padding-right: 10px;
  font-weight: 900;
}
.pagination {
  position: absolute;
  z-index: 1;
  justify-content: center;
  display: inline-block;
  right: 35%;
  top: 88%;
}
.pagination a {
  color: black;
  background: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 100px;
}
.pagination a:hover {
  background-color: #1ea69a;
  color: white;
}
span.page-numbers.current {
  background-color: #1ea69a;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 100px;
}
.sale--price {
  display: flex;
  flex-direction: column;
}
.price-for {
  font-size: 15px;
  font-family: "Rubik";
  font-weight: 900;
}
.home--price {
  color: #1ea69a;
  font-weight: 400;
  font-size: 22px;
}
.overlay {
  position: absolute;
  z-index: 1;
  width: 396px;
  height: 228px;
  bottom: 54%;
}
.overlay:hover {
  cursor: pointer;
  opacity: 1;
  background: rgba(30, 166, 154, 0.7);
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  border: 2px solid white;
  display: flex;
  top: 33%;
  left: 33%;
  color: #fff;
}
a.view--properties {
  color: #fff;
  padding: 10px;
}
a.view--properties:hover {
  color: white;
}
.column-1:hover .middle {
  opacity: 0.8;
}
@media (max-width: 414px) {
  .featured {
    display: none;
  }
  .properties--title {
    left: 32%;
    top: 0%;
    left: 25%;
  }
  .container-1 {
    display: flex;
    flex-direction: column;
  }
  .pagination {
    top: 97%;
    right: 7%;
  }
  .form {
    width: 100%;
    position: relative;
    left: 0%;
    top: 5%;
  }
  .box {
    display: none;
  }
  .first-card,
  .second-card,
  .third-card {
    display: none;
  }
  .first-row {
    padding: 2% 0% 0% 0%;
  }
  .container-1 {
    padding-top: 20%;
  }
  .overlay {
    display: none;
  }
  .properties--title {
    left: 20%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .featured {
    display: none;
  }
  .properties--title {
    align-content: center;
    top: 2%;
    left: 35.2%;
  }
  .pagination {
    top: 90%;
  }
  .overlay {
    width: 317px;
    height: 183px;
    bottom: 60%;
  }
  .container-1 {
    display: flex;
    flex-direction: row;
  }
  .container-2 {
    display: flex;
    flex-direction: row;
  }
}
.properties-title {
  padding-top: 3%;
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
  font-family: "Rubik", sans-serif;
  background: whitesmoke;
}
.container-2 {
  background: whitesmoke;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 15%;
}
.container-2 > div {
  margin: 1.3%;
}
.column-2 {
  background: #fff;
  font-family: "Rubik", sans-serif;
  height: auto;
  width: 370px;
}
.column-2 img {
  width: 100%;
}
.column-2 a {
  color: #000000;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
}
.column-2 a:hover {
  color: #1ea69a;
}
.media-for-sale {
  position: absolute;
  z-index: 1;
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  height: 30px;
  padding: 5px;
  margin: 10px 4px;
  color: #ffffff;
  font-size: 13px;
  line-height: 16px;
  border-radius: 4px 5px;
  vertical-align: middle;
}
.camera-property-picture {
  width: 16px;
  fill: #ffffff;
}
.media-number {
  padding-top: 2px;
  padding-left: 4px;
  vertical-align: middle;
}
.media-video-for-sale {
  position: absolute;
  z-index: 1;
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  padding: 5px;
  color: #ffffff;
  font-size: 13px;
  border-radius: 4px 5px;
  margin: 10px 50px;
  height: 30px;
}
.camera-for-sale-video {
  width: 16px;
  fill: #ffffff;
}
.media-video-number {
  padding-left: 4px;
}
.rhea_latest_properties_2 .rhea_tags_wrapper {
  position: absolute;
  right: 0;
  top: 0;
}
.rhea_tags_wrapper {
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
}
.rhea_tags_wrapper .rhea_featured:before {
  border-color: #1fb859;
  border-bottom-color: transparent;
}
.rhea_tags_wrapper .rhea-tags:before {
  position: absolute;
  content: "";
  border: 12px solid;
  border-top-width: 25px;
  border-bottom-width: 5px;
  left: 0;
  top: 0;
  transition: 0.2s all;
}
.header-img:hover {
  transform: scale(1);
  cursor: pointer;
  transition: 0.3s;
}
.header-img {
  transform: scale(0.95);
}
.home-price {
  color: #20b759;
  font-weight: 500;
  font-size: 22px;
}
.agent {
  display: flex;
  position: absolute;
  top: 120px;
  padding-left: 10px;
}
img.image-agent {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}
.agent-name {
  padding-top: 12px;
  padding-left: 5px;
  color: #ffffff;
  font-size: 20px;
}
.for-sale-div {
  margin-top: 10px;
  margin-left: 95px;
  padding: 3px;
  color: #ffffff;
  border-radius: 5px;
  font-size: 13px;
  background: #1fb859;
  height: 25px;
  text-align: center;
}
.for-sale-pagination {
  position: absolute;
  z-index: 1;
  justify-content: center;
  display: inline-block;
  right: 41%;
  top: 83%;
}
.for-sale-pagination a {
  color: black;
  background: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 100px;
}
.for-sale-pagination a:hover {
  background-color: #d22d3e;
  color: white;
}
.for-sale-pagination .page-numbers.current {
  background-color: #d22d3e;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 100px;
}
.property-type-description {
  position: absolute;
  top: 130px;
  display: flex;
}
.property-type {
  color: #ffffff;
  padding-left: 10px;
}
.for-rent-div {
  margin-left: 250px;
  padding: 3px;
  color: #ffffff;
  border-radius: 5px;
  font-size: 12px;
  background: #1f79b8;
  height: 25px;
  width: 60px;
  text-align: center;
}
.for-rent-agents {
  display: flex;
  background: whitesmoke;
  height: 60px;
  padding: 5px;
}
.for-rent-agent-name {
  padding-top: 12px;
  padding-left: 5px;
  font-size: 20px;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .container-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .top-separator,
  .bottom-separator {
    display: none;
  }
  .for-sale-pagination {
    top: 97%;
    left: 0;
    right: 0;
  }
  .container-2 > div {
    margin: 0;
    padding: 0;
  }
  .quote-marks-left,
  .quote-marks-right {
    display: none;
  }
  blockquote.quote {
    font-size: 26px;
  }
  .amazing-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .for-sale-pagination {
    top: 96%;
  }
}
.quote-news {
  background: whitesmoke;
}
.top-separator {
  height: 120px;
  background: #1ea69a;
  clip-path: polygon(100% 100%, 0% 100%, 100% 0);
  margin-bottom: -1px;
}
.quote-section {
  height: 500px;
  background: #1ea69a;
  position: relative;
}
.quote {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  font-family: "Rubik";
  color: #ffffff;
  padding: 9%;
}
.bottom-separator {
  height: 120px;
  background: #1ea69a;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  margin-top: -1px;
}
.quote-marks-left {
  position: absolute;
  top: -60px;
  left: 30px;
  fill: #1c9d92;
}
.quote-marks-right {
  position: absolute;
  bottom: -60px;
  right: 30px;
  fill: #1c9d92;
  transform: rotate(180deg);
  z-index: 1;
}
.news {
  font-weight: 100;
}
#single-post-picture img {
  height: 550px;
  width: 85%;
  margin-top: 30px;
  margin-left: 30px;
}
.single-news-title {
  margin-top: 30px;
  margin-left: 60px;
  padding: 25px;
  height: 80px;
  width: 700px;
  background: #1c9d92;
  color: #ffffff;
  position: absolute;
  top: 660px;
}
.desc-style {
  width: 800px;
  text-align: justify;
  margin-top: 30px;
  margin-left: 30px;
  color: #808080;
}
.single-post {
  background: whitesmoke;
}
.sale-price {
  padding-left: 36%;
  padding-top: 2%;
}
.single-page-top {
  display: flex;
}
#single-title {
  margin-top: 30px;
  margin-left: 30px;
}
.single-post-picture img {
  margin-top: 30px;
  margin-left: 30px;
  width: 1000px;
  height: 500px;
}
.single-post-picture {
  padding-bottom: 5%;
}
.id-style {
  display: flex;
  width: 200px;
}
.id-color {
  color: #1ea69a;
  padding-left: 1%;
}
#line-style {
  border-style: dashed;
  /* width: 650px; */
  margin-right: 30px;
}
.more-property-information {
  margin-top: 30px;
  padding-top: 30px;
  margin-left: 30px;
  padding-left: 30px;
  background: white;
}
.rh_svg-single {
  fill: #1ea69a;
}
.bedroom-single,
.bathroom-single,
.area-single,
.year-built,
.lot-size {
  color: #373737;
  padding: 10px;
}
.desc-font-style {
  color: #1c9d92;
  margin-top: 10px;
}
.desc-paragraph {
  color: #808080;
}
.single-description {
  padding-right: 30px;
  margin-bottom: 30px;
}
.note-paragraph {
  background: #f7f7f7;
  /* width: 600px; */
  color: #373737;
  margin-top: 20px;
  padding: 10px;
}
.vid-style {
  margin-top: 20px;
}
.comment-respond {
  background: #f7f7f7;
  padding-top: 30px;
  padding-left: 30px;
}
.comment-form-comment {
  display: flex;
  flex-direction: column;
  width: 600px;
}
#reply-title {
  font-size: 20px;
}
.submit {
  background: #1ea69a;
  color: #ffffff;
  height: 40px;
}
#style-c2 {
  width: 80%;
  padding-left: 20%;
  padding: 0% 0% 5% 20%;
}
#carouselExampleIndicators {
  background: whitesmoke;
}
.single-news {
  background: whitesmoke;
}
.single-news-card {
  background: #ffffff;
  padding-bottom: 5%;
}
.video-style {
  padding-top: 30px;
}
.desc-news-style {
  color: #808080;
  padding: 5%;
}
.headings {
  padding: 5%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
}
.col-xs-12 {
  background: #ffffff;
}
.col-sm-4 {
  background: #ffffff;
  height: auto;
}
.col-sm-4 img {
  width: 300px;
}
div.textwidget {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.textwidget p {
  font-size: 20px;
  font-weight: 500;
}
.textwidget p.contact {
  font-size: 15px;
  font-weight: 200;
}
@media (max-width: 1024px) {
  .elementor-7072
    .elementor-element.elementor-element-6e2f3e62
    .rh_section__cta_elementor {
    padding: 180px 0px 180px 0px;
  }
}
.rh_section__cta_elementor .wrapper-section-contents_elementor {
  position: relative;
  z-index: 999;
}
.elementor-7072
  .elementor-element.elementor-element-6e2f3e62
  .rh_section__cta_elementor {
  padding: 230px 0px 230px 0px;
}
.rh_section__cta_elementor {
  text-align: center;
  background-size: cover;
  position: relative;
  background-position: center;
  padding: 200px 100px;
}
.elementor-7072
  .elementor-element.elementor-element-6e2f3e62
  .rh_section__cta_elementor
  .rh_cta__wrap_elementor {
  max-width: 950px;
}
.rh_section__cta_elementor .rh_cta__wrap_elementor {
  margin: 0 auto;
}
.elementor-7072 .elementor-element.elementor-element-6e2f3e62 .rh_cta__quote {
  margin-bottom: 25px;
}
.rh_section__cta_elementor .rh_cta__wrap_elementor .rh_cta__quote {
  font-size: 36px;
  color: #ffffff;
  line-height: 1.5;
  font-weight: 400;
}
.elementor-7072 .elementor-element.elementor-element-6e2f3e62 .rh_cta__title {
  margin-bottom: 15px;
}
.rh_section__cta_elementor .rh_cta__wrap_elementor .rh_cta__title {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 15px;
}
.elementor-7072
  .elementor-element.elementor-element-6e2f3e62
  .cta_elementor_button {
  margin-left: 5px;
  margin-right: 5px;
}
.elementor a {
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}
.rh_section__cta_elementor .rh_cta__btns_elementor a {
  margin-bottom: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.cta_elementor_first_button {
  background: #ea723d;
}
.cta_elementor_button {
  display: inline-block;
  color: #fff;
  font-size: 15px;
  padding: 15px 20px;
  text-align: center;
  outline: 0;
  border: none;
  border-radius: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-bottom: 5px;
  line-height: 18px;
}
.cta_elementor_second_button {
  background: rgba(255, 255, 255, 0.25);
}
.agent-section {
  padding: 20px;
  text-align: center;
}
.column-3 {
  background: #fff;
  height: auto;
  width: auto;
  font-family: "Rubik", sans-serif;
}
.agent-section-property {
  display: flex;
  flex-direction: column;
}
.agent-section-name {
  margin-bottom: 15px;
  line-height: 1.2;
  font-weight: 900;
  color: #000000;
  text-decoration: none;
}
.agent-section-name:hover {
  color: #1ea69a;
  cursor: pointer;
  text-decoration: none;
}
.agent-section-number {
  font-family: "Roboto";
  line-height: 18px;
  color: #1ea69a;
  font-size: 15px;
  margin-bottom: 0.5rem;
}
.ls-style {
  color: #1ea69a;
}
.agent-section-email {
  font-weight: 500;
  margin-bottom: 15px;
}
.agent-single-post {
  width: 700px;
  background: #ffffff;
  margin-left: 50px;
  margin-top: 50px;
}
.single-post-agent-image img {
  margin-left: 30px;
}
.single-post-agent-info {
  margin-left: 30px;
}
.single-post-agent-description {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 550px;
}
.body-ag {
  background: #f7f7f7;
  margin: 0;
}
.contact-no {
  text-indent: 40px;
  display: flex;
  padding: 10px;
}
.amazing-features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: whitesmoke;
  padding-bottom: 50px;
}
.feature-box-1 {
  width: 30%;
  padding: 10px;
}
.feature-title {
  font-weight: 500;
  text-align: center;
}
.elementor-image-box-img {
  text-align: center;
}
.feature-description {
  text-align: center;
  color: #808080;
  line-height: 2;
}
.elementor-section .elementor-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
@media (max-width: 1024px) {
  .elementor-row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.elementor-row {
  width: 100%;
}
@media (min-width: 768px) {
  .elementor-column.elementor-col-100,
  .elementor-column[data-col="100"] {
    width: 100%;
  }
}
.elementor-column {
  position: relative;
  min-height: 1px;
}
.elementor-column-wrap {
  width: 100%;
  position: relative;
}
.elementor-widget-wrap > .elementor-element {
  width: 100%;
}
.elementor-widget {
  position: relative;
}

.elementor-element .elementor-widget-container {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
    -webkit-border-radius 0.3s, -webkit-box-shadow 0.3s;
}
@media (max-width: 1024px) {
  .elementor-7072
    .elementor-element.elementor-element-4da04955
    .rh_section__cta_elementor_two {
    padding: 150px 0px 150px 0px;
  }
}
.rh_section__cta_elementor_two {
  text-align: center;
  background-size: cover;
  position: relative;
  background-position: center;
  padding: 160px 100px;
}
.rh_section__cta_elementor_two .elementor_overlay_cta_1 {
  position: absolute;
  background-color: rgba(30, 166, 154, 0.8);
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}
.rh_section__cta_elementor_two .wrapper-section-contents_elementor {
  position: relative;
  z-index: 999;
}
.elementor-7072
  .elementor-element.elementor-element-4da04955
  .rh_section__cta_elementor_two
  .rh_cta__wrap_elementor {
  max-width: 950px;
}
.rh_section__cta_elementor_two .rh_cta__wrap_elementor {
  margin: 0 auto;
}
.elementor-7072 .elementor-element.elementor-element-4da04955 .rh_cta__title {
  margin-bottom: 15px;
}
.rh_section__cta_elementor_two .rh_cta__wrap_elementor .rh_cta__title {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 15px;
}
.elementor-7072 .elementor-element.elementor-element-4da04955 .rh_cta__quote {
  margin-bottom: 25px;
}
.rh_section__cta_elementor_two .rh_cta__wrap_elementor .rh_cta__quote {
  font-size: 36px;
  color: #ffffff;
  line-height: 1.5;
  font-weight: 400;
}
.elementor-7072
  .elementor-element.elementor-element-4da04955
  .cta_two_elementor_button {
  margin-left: -2px;
  margin-right: -2px;
}
.rh_section__cta_elementor_two .rh_cta__btns_elementor_two a {
  margin-bottom: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.elementor a {
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}
.cta_two_elementor_first_button {
  background: #303030;
  color: #ffffff;
}
.cta_two_elementor_button {
  display: inline-block;
  font-size: 15px;
  padding: 15px 20px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  outline: 0;
  border: none;
  border-radius: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-bottom: 5px;
}
.elementor-7072
  .elementor-element.elementor-element-4da04955
  .cta_two_elementor_button {
  margin-left: -2px;
  margin-right: -2px;
}
.rh_section__cta_elementor_two .rh_cta__btns_elementor_two a {
  margin-bottom: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.cta_two_elementor_second_button {
  background: #ffffff;
  color: #303030;
}
.partners {
  background: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.partner-img {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10%;
  width: 16.666%;
}
